* {
    margin:0;
    padding:0;
    font-family:'Montserrat'
}

.header {
    height: 10vh;
    width:100%;
    background-color:#37706a;
    display:flex;
    align-items: center;
}

.title {
    margin-left: 2em;
    color:white;
}

.container {
    display:flex;
    height:90vh
}

.my-list {
    display:flex;
    flex-direction: column;
}

.list-button {
    border:none;
    cursor:pointer;
    display:flex;
    align-items:center;
    padding:1em;
    width:80%;
    margin: 1em;
}

.sidebar {
    width:25%;
    background-color:#7ffff2;
    padding:1em;
}

.project-header {
    color:white;
    font-family:'Montserrat';
    margin-left: 1em;
    font-size: 1.5em;
}

.project-button {
    border:none;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content: space-between;
    width:80%;
    padding: 1em;
    margin:1em;
}

.add-project-button {
    margin:1em;
    padding: 1em;
}

.main-content {
    width: 75%;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
}

.task-list {
    display:flex;
    justify-content: space-between;
    width:70%;
    padding:.5em;
    margin:.5em;
    font-size:1.5rem;
}

.task-list-text {
    display:flex;
    align-items: center;
    gap: 10px;
}

.checkbox {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: .8em;
    height: .8em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.025em);
    display: grid;
    place-content: center;
}

.checkbox::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #37706a;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.checkbox:checked::before {
    transform: scale(1);
}

.checkbox:focus-within {
    outline: max(1px, 0.15em) solid gray;
    outline-offset: max(1px, 0.15em);
}

.add-task-button {
    width:15%;
    border-radius: 8%;
    padding:1em;
    margin:1em;
    visibility:visible;
}

#add-box {
    visibility:hidden;
    height:100px;
    background-color:white;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    gap:.4em
}

.popup-add, .popup-cancel {
    padding: .3em
}

.popup-form {
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

label {
    font-weight:bold;
}

#radio {
    font-size:smaller
}

.task-form {
    visibility:hidden;
}

#task-submit {
    width:50%;
    margin-top: 2em;
    padding:1em;
}
