* {
    margin:0;
    padding:0;
}

.header {
    height: 10vh;
    width:100%;
    background-color:#37706a;
    display:flex;
    align-items: center;
}

.title {
    margin-left: 2em;
    color:white;
    font-family:"Montserrat"
}

.container {
    display:flex;
    height:90vh
}

.my-list {
    display:flex;
    flex-direction: column;
}

.list-button {
    border:none;
    cursor:pointer;
    display:flex;
    align-items:center;
    padding:1em;
    width:80%;
    margin: 1em;
}

.sidebar {
    width:25%;
    background-color:#7ffff2;
    padding:1em;
}

.project-header {
    color:white;
    font-family:'Montserrat';
    margin-left: 1em;
    font-size: 1.5em;
}

.project-button {
    border:none;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content: space-between;
    width:80%;
    padding: 1em;
    margin:1em;
}

.add-project-button {
    margin:1em;
    padding: 1em;
}

.main-content {
    width: 75%;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
}

.task-list {
    display:flex;
    justify-content: space-between;
    width:70%;
    padding:1em;
    margin:1em;
}

.add-task-button {
    width:15%;
    border-radius: 8%;
    padding:1em;
    margin:1em;
}